.side-bar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1fa342; 
    overflow-x: hidden;
    padding-top: 20px;
}

.side-bar td {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    
}

.side-bar a:hover {
    color: #c5cae9;
}

.main-body {
    margin-left: 160px;
}

.container {
    background-color: #85f6b1;
    border: 2px solid black;
    padding: 10px;
    padding-left: 15px;
    width: 320px;
    margin-left : 40%;
    margin-top: 10%;
    border-radius: 25px;
}

input[type=submit], button {
    background-color: #4d38f2;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #3880f2;
}

input[type=submit]:hover {
    background-color: #3880f2;
}

